<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue入门 Common instructions</title>

</head>
<body>
<!--实现在一个body区域显示名称-->
 <div id="app">
<!--     相当于 MVVM 的 view 视图-->
     <ul>
         <li v-for = "(item, index) in list" :key = "index" v-if = "index%2 == 0">{{index}}--{{item}}</li>
         <li v-for="(value, key) in user">{{key}}--{{value}}</li><br>
         <li v-for="(item, index) in userlist" :key = "item.user.uname">
             <div v-if="item.user.uname == 'chong'" style="background: #00f50c">
                 {{index}}--{{item.user.uname}}--{{item.user.age}}
             </div>
             <div v-else="">
                 {{index}}--{{item.user.uname}}--{{item.user.age}}
             </div>
         </li>
     </ul>


 </div>
</body>
<script src="vue.min.js"></script>
<script>
    let VM = new Vue({
        el: '#app',
        data: {
            list: [1, 2, 3, 4, 5],
            user: {uname: 'chong', age: 45},
            userlist: [{user: {uname: 'chong', age: 45}},
                {user: {uname: 'chong2', age: 46},}]
        }
    });


</script>
</html>